.pie {
  width: 7rem;
  height: 7rem;
  margin: 0 2.5rem 3rem 0;
  border-radius: 50%;
  background: conic-gradient($sub-color 33%, $main-color 0, $main-color 66%, $dark-main-color 0);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-mask-image: radial-gradient(
    transparent 0%,
    transparent 30%,
    white 30%,
    white
  );
}
