/* 変数宣言 */
$main-color:#ff943d;
$dark-main-color:#f36d00;
$bg-thin-color:#ffa963;
$sub-color: #FFD655;
$BG-white-thin: #fffffff3;
$text-color: #494949;
$border-progress: #707070;
$bg-progress: #535353;
$grid-size: 12rem;

html {
  height:100%;
  background: $main-color;
}

body {
  height:100%;
  background: repeating-linear-gradient(-45deg, $bg-thin-color, 30px, $main-color 0, $main-color 120px);
}

#modelArea{
  canvas{
    width: calc(100vw*(2/7));
    height: calc(100vh*(5/7));
  }
}

/* model & dialog */
.modelAndDialogue{
  width: unset;
  margin: unset;
  position: relative;
  .modelMessage{
    width: fit-content;
    max-width: 90%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: $BG-white-thin;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    font-size: 1.1rem;
    color: $text-color;
  }
}
.modelAndDialogueFlex{
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    padding: 1rem 2rem;
  }
}

/* 戻るボタン */
.back2topBtn{
  width: fit-content;
  position: absolute;
  margin: 2rem;
  z-index: 500;
  color: #fff;
  button{
    .material-icons{
      font-weight: bold;
      font-size: 35px;
    }
  }
}

/* checkbox */
input[type=checkbox] {
  display: none;
}
.checkbox {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 5px 30px;
  position: relative;
  width: auto;
}
.checkbox::before {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  content: '';
  display: block;
  height: 16px;
  left: 5px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  width: 16px;
}
.checkbox::after {
  border-right: 6px solid $main-color;
  border-bottom: 3px solid $main-color;
  content: '';
  display: block;
  height: 20px;
  left: 11px;
  margin-top: -16px;
  opacity: 0;
  position: absolute;
  top: 55%;
  transform: rotate(45deg);
  width: 9px;
}
input[type=checkbox]:checked + .checkbox::before {
  border-color: #9c9c9c;
}
input[type=checkbox]:checked + .checkbox::after {
  opacity: 1;
}

/* mobileここから */
@media screen and (max-width: 950px) {
  body {
    height: auto;
  }

  #modelArea{
    canvas{
      width: calc(100vw*(3/4));
      height: calc(100vh*(3/4));
    }
  }
}
