#face{
  width: fit-content;
  display: flex;
  margin: 0 auto;
  padding-top: 3rem;
}

.beginnerNextBtnArea{
  width: fit-content;
  display: flex;
  gap: 2.5rem;
  margin: 0 auto;
}

.replayBtn{
  border: solid 3px $sub-color;
}

.advancedTextShow{
  width: fit-content;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 auto 0 2.5rem;
  span{
    color: $main-color;
    font-weight: bold;
  }
}

.hanamaru{
  width: 9rem;
  height: fit-content;
  margin-right: 1rem;
  transform: rotate(15deg);
}

.mainText{
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.note_wrap{
  width: 29rem;
}
