@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

#opening{
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  z-index: 9000;

  #openingContents{
    opacity: 0;
    transition: 1500ms;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    &.is-fadein {
      opacity: 1
    }

    img{
      display: block;
      width: 13rem;
      margin: 0 auto 1rem;
    }

    #openingText{
      width: fit-content;
      display: flex;
      font-family: 'Gruppo', cursive;
      color: $main-color;
      font-size: 1.7rem;
      gap: 0 1rem;
      margin: 0 auto;
    }
  }
}

/* mobileここから */
@media screen and (max-width: 950px) {
  #opening{
    #openingContents{
      img{
        width: 15rem;
      }
      #openingText{
        font-size: 1.3rem;
        gap: 0 0.8rem;
      }
    }
  }
}
/* mobileここまで */
