/*看板部分*/
.plate{
  width:fit-content;
  margin-top:0.5rem;
  border-radius:20px;
  border:10px solid $dark-main-color;
  position:relative;
}
#navy{
  background:#fff;
  box-shadow: 5px 5px 13px #a17a46;
}


/*文字部分*/
.plate span{
  padding:1.3rem 2.5rem;
  display:block;
  text-align:center;
  font-size:1.5rem;
}
#navy span{
  font-family: 'Zen Kurenaido', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: $text-color;
}


.plate:before,
.plate:after{
  content:"";
  width:10px;
  height:40px;
  position:absolute;
  top:-50px;
}
.plate:before{
  left:1.6rem;
}
.plate:after{
  right:1.6rem;
}
#navy:before,
#navy:after{
  background:#fcfcfa;
}
