#progressBar {
    width: 13rem;
    height: 1rem;
    border: 0.15rem solid $border-progress;
    margin-top: 1.5rem;
    background-color: $bg-progress;
    border-radius: 25px;
}

#progressBarFull {
    height: 0.8rem;
    background-color: $dark-main-color;
    width: 0%;
    border-radius: 25px;
    margin-top: -0.05rem;
    margin-left: 0.03rem;
}
