#visit-stamp {
	width: fit-content;
	height: fit-content;
	background-color: #fff;
	border: 8px solid $sub-color;
	border-radius: 10px;
	font-family: 'Zen Kurenaido', sans-serif;
	color: $text-color;
	table{
		width: 27rem;
		height: 33rem;
		border-collapse: collapse;
	}
	th, td{
		text-align: center;
		border: 3px solid $sub-color;
	}
}
.stamp {
	display: inline-block;
	color: #c00;
	font-size: 28px;
	font-weight: bold;
	line-height: 1.0;
	border: 1px solid #c00;
	border-radius: 50%;
	padding: 4px;
	/* スタンプアニメーションのための初期値 */
	visibility: hidden;
	opacity: 0.0;
	transform: scale(10.0) rotate(-30deg);
}
.stamp.visited {
	visibility: visible;
	opacity: 1.0;
	transform: scale(1.0) rotate(0deg);
}
