#mainArea{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  padding: 5rem 0 0;
}

/* mobileここから */
@media screen and (max-width: 950px) {
  #mainArea{
    flex-direction: column;
    padding: 3rem 0 5rem;
  }
}
