.note_wrap{
  background-color: #fff;
  width: 35rem;
  height: 35rem;
  padding: 2rem;
  border: 10px solid #FFD655;
}

.note {
  width: auto;
  height: 30rem;
  background-image: linear-gradient(180deg, rgba(204, 204, 204, 0) 0%, rgba(204, 204, 204, 0) 98.5%, #646464 100%);
  background-repeat: repeat-y;
  background-size: 100% 2.4rem;
  line-height: 2.4;
}

.note_text {
  font-size: 1.1rem;
  font-family: 'Zen Kurenaido', sans-serif;
  font-weight: bold;
  width: fit-content;
  margin: 0 0 2.15rem 1rem;
}

.highlighter{
  background:linear-gradient(transparent 60%, #ffe0c1 60%);
}

.btn-handWritte{
  font-size: 1.3rem;
  font-weight: bold;
  font-family: 'Zen Kurenaido', sans-serif;
  padding: 0.2rem 1.3rem;
  background: #fff;
  border-radius: 15px 20px/70px 10px;
  border: solid 3px #FF943D;
}

#mainArea{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  padding: 5rem 0 0;
}

#startBtn{
  width: fit-content;
  margin: 0 auto;
}

#header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem 0.55rem;
}

#logo{
  width: 9rem;
}
