<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#ff943d">
  <meta property="og:title" content="にこトレ！">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://nicotore.herokuapp.com">
  <meta property="og:image" content="https://nicotore.herokuapp.com/static/images/ogp.png" />
  <meta property="og:description" content="表情筋を鍛えて素敵な笑顔を目指しましょう！">
  <meta property="og:site_name" content="にこトレ！">
  <meta name="twitter:card" content="summary_large_image">
  <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="../static/webpack/{{css}}.css">
  <title>{{ pageTitle }}</title>
</head>

<body>
  {% block content %}
  {% endblock %}
</body>

</html>
