{% extends "layout.html" %}{% block content %}

<div id="mainArea">
  <div id="modelArea">
    <canvas id="canvas"></canvas>
  </div>

  <div class="note_wrap">
    <div class="note">
      <div class="header">
        <p class="note_text text_heading"><span class="highlighter">表情筋トレーニング</span></p>
        <img class="logo" src="../static/images/logo.png" alt="にこトレ！のロゴ">
      </div>
      <p class="note_text">私と一緒に「あいうえお体操」を行ないます。</p>
      <p class="note_text">表情筋をしっかり鍛えて、豊かな表情を目指しましょう！</p>
      <div id="soundCheckbox">
        <input type="checkbox" id="sound" name="sound">
        <p class="note_text">音声再生を許可します</p>
      </div>
      <form action="/face" method="POST">
        <button class="btn-handWritte" type="submit">はじめる</button>
      </form>
    </div>
  </div>
</div>

<!--<p><a href="/face">顔認識</a></p>-->
<!--<p><a href="/emotion">感情分析</a></p>-->

<script src="../static/webpack/top.js"></script>

{% endblock %}
